streamlit>=1.26.0
pandas>=1.3.3
pygwalker>=0.0.3  # Assuming this is the correct version, you might want to verify this
pygsheets>=2.0.5
Pillow>=8.3.2
PyMuPDF>=1.18.19
openpyxl>=3.0.9  # Required for reading Excel files with pandas
